# Python
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDE / editor
.vscode/
.idea/

# log files
*.log

# temporary files
*.swp
*.tmp

# audio placeholder
site/audio/
~$*
